a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 22.4px;
    font-weight: 400;
    color: #424242;
}

.header {
    background-color: #FFFFFF;
    padding: 25px 0 0 24px;
    color: #212121;
    font-size: 18px;
    line-height: 21.94px;
    font-weight: 600;
    background: #FFFFFF;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 px;
}

.phone {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

/* .header__main {
    background: #FFFFFF;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
} */

.header_main-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best__content-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best__title {
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 40px;
}

.best__content-item-title {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.best__content-item-text {
    text-align: center;
    font-size: 16px;
    line-height: 140%;
}
.best__content-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.doroty__inner{
    border-top: 1px solid #FFB5B5;
    border-bottom: 1px solid #FFB5B5;
}
.doroty__title{
    font-family: montserrat;
    font-size: 32px;
    text-align: center;
    font-style: italic;
    line-height: normal;
    color: #FF445A;
    padding: 101px;
}
.siren__inner{
    display: flex;
    justify-content: space-around;
    padding-top: 88px;
    padding-bottom: 88px;
}
.siren__inner-text{
    font-weight: 400;
font-size: 18px;
}

.footer__content{
    background-color: #FFB5B5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #FFFFFF;
}